<p>APP alta Cliente</p>
<h2>Alta cliente</h2>
<p>
  <span>Nombre:</span>
  <input type="text" [(ngModel)]="cliente.nombre">
</p>

<p>
  <span>CUIT:</span>
  <input type="text" [(ngModel)]="cliente.cuit">
</p>
<p>
  <span>Dirección:</span>
  <input type="text" [(ngModel)]="cliente.direccion">
</p>
<p>
  <span>Grupo:</span>
  <select [(ngModel)]="cliente.grupo">
    <option *ngFor="let grupo of grupos" value="{{grupo.id}}">{{grupo.nombre}}</option> <!-- let es una forma de declarar una variable locar del tipo grupo
    que va a recorrer los elementos del arreglo grupos  y lo carga en el combo -->
  </select>
</p>
<p>
  <button (click)="this.nuevoCliente()">Guardar</button>  <!-- el evento click llama a la funsion nuevo cliente del controlador -->
</p>

